Idle timeout and DNS Stateful timeout

On 3/6/2020 6:12 AM, Tony Finch wrote:

Section 4.3 (idle timeouts): it's clearly better to use QUIC's facilities
for this, but there could potentially be a conflict with DNS stateful
timeouts (RFC8490) so maybe there needs to be a bit more discussion about
how to resolve disagreements between two protocol layers.

@saradickinson since you are one of the authors of RFC8490, you should be in a good position to propose the text that Tony is looking for.

RFC8490 (DNS Session Signalling) specifically says in section 4.2 that it is only applicable to DNS-over-TCP and DNS-over-TLS. It also says it cannot be used with DNS-over-HTTPS because "because HTTP has its own mechanism for managing sessions, which is incompatible with the mechanism specified here.", which I think also applies to DNS-over-QUIC. The current mention of RFC8490 it just in the context of finding useful _values_ for idle timeouts, I suggest we remove it to avoid any implication DSO and DoQ can mix. 

I do agree that in general the QUIC mechanisms should be used for session and idle timeout handling and we should remove parts of the text in section 5.7 to reduce confusion. This section was originally included to mimic the structure of and re-use the text from RFC7766 when that was the best guidance we had, but I think a lot of it is now superseded by the latest QUIC spec. For example, I think 5.7.3 implies that clients could use RFC7828 (EDNS0 Keepalive), which would seem to conflict with the QUIC idle-timeout mechanism. I'll review that text and do a PR if it seems the other issues that update these sections don't cover all the changes needed

Re-reading the draft I realise that we have included section 4.2.1 "Server Initiated Transaction", which references DNS-PUSH (which relies on DNS Stateful Operations (DSO)). I suggest we also remove this section, since we have no concrete use cases for server initiated transactions.

Fixed in PR #37