Sec 10.1 Hyperlink is broken

In section 5.4, there is a hyperlink to Sec 10.1 of RFC 9000, that instead leads to Sec 10.1 of dnsoquic.

That's a tool issue. The markdown source says:
```
Per section 10.1 of the QUIC transport specification, the
effective value of the idle timeout is computed as the minimum of the values
advertised by the two endpoints.
```
The XML file that I generated has:
```
<t>Clients and servers implementing DoQ SHOULD negotiate use of the idle timeout.
Closing on idle timeout is done without any packet exchange, which minimizes
protocol overhead. Per section 10.1 of the QUIC transport specification, the
effective value of the idle timeout is computed as the minimum of the values
advertised by the two endpoints. Practical considerations on setting the idle
timeout are discussed in <xref target="resource-management-and-idle-timeout-values"/>.</t>
```
I have no idea who inserted the extraneous hyperlink. @saradickinson can you check the XML that you submitted?

This is the same problem already flagged in issue #64. The fix is to use syntax like `{{Section 3.5 of RFC9000}}`, but that syntax is not supported in all versions of kramdown. I just tried on got this error message:

_draft.xml(0): Error: IDREF attribute target references an unknown ID "Section_3.5_of_RFC9000", at None_

So it is on the todo list, but I would rather do that just once, maybe after processing the current batch of edits.

At the same time, the root cause of Martin's surprise is an over-eager HTML conversion script. XML2RFC already provides annotations for setting cross references between sections. The script has no business scraping the text and trying to insert its own set of cross links.