Use "section" as part of references.

In his review of PR #59, @martinthomson suggests to replace references of style `as defined in section 4.1.2 of {{!RFC9001}}` by more precise referencing `as defined in {{section 4.1.2 of RFC9001}}`. New versions of Kramdown can process these more specific references, and provide better indexing.